body {
    font-family: "Noto Sans SC", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid #efefef;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.wave {
    width: 35px;
}

.find {
    cursor: pointer;
    width: 80px;
}

.header {
    width: 990px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header>* {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}




main {
    width: 990px;
    background-color: white;
    margin: 0 0 4px 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.nav-tag {
    font-size: larger;
    font-weight: 400;
}

.search {
    outline: none;
    border: 2px solid #f44336;
    height: 28px;
}

.pic {
    height: 300px;
    margin-left: 1rem;
}

.header>.tag:hover {
    color: #f44336;
}

.tuichu {
    width: 94px;
    height: 34px;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    background-color: #1dc091;
    color: white;
}

.card>ul>li:hover>span,
.r {
    color: #f44235;
}

.card {
    height: 348px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

.card>.round {
    width: 90px;
    height: 90px;
    color: #1dc091;
    border: 2px solid #1dc091;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 100;
}

.card>ul>li {
    padding: 2px;
    text-align: left;
}

.card>ul>li>.title {
    font-weight: 300;
}

.card>ul>li>.sub {
    font-weight: 200;
    font-size: .9rem;
    color: #868686;
}

.card>.suibian {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1.5px solid #1dc091;
    border-radius: 50%;
}

.card>.suibian::before,
.card>.suibian::after {
    content: "";
    position: absolute;
    background-color: #1dc091;
}

.card>.suibian::before {
    width: 80%;
    height: 1px;
    top: 50%;
    left: 10%;
}

.card>.suibian::after {
    width: 1px;
    height: 80%;
    top: 10%;
    left: 50%;
}

.container>.r {
    height: 120px;
    width: 0;
    border: 1px solid #efefef;
}

.moment,
.love {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.moment>.title,
.love>.title {
    font-size: x-large;
}

.moment>.title2,
.love>.title2 {
    font-size: small;
    color: #1dc091;
}

.moment>.grid {
    height: 200px;
    display: grid;
    width: 80%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1rem 0;
}

.moment>.grid>.class {
    outline: 3px solid #1dc091;
    outline-offset: -1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moment>.grid>.num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 200;
    text-decoration-line: underline;
    color: #f44336;
}

.card>.round:hover,
.moment>.grid>.class:hover {
    background-color: #1dc091;
    color: #ffffff;
}


.love>.classes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 6rem;
    margin: 4rem 0;
}

.love>.classes>div {
    position: relative;
    width: 10rem;
    background-color: #f77b72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.love>.classes>div>.title {
    font-weight: 200;
}

.love>.classes>div>.subtitle {
    font-size: .9rem;
    font-weight: 100;
}

.love>.classes>div:hover {
    position: relative;
    background-color: red;
    z-index: 1;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #333333;
    padding: 1rem 0;
}

.footer {
    color: #a3a3a3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer>div {
    width: 10rem;
}

.footer>.r {
    width: 2px;
    height: 10px;
    background-color: #ea5a70;
}